html {
  height: 100%;
}

body {
  background: linear-gradient(rgb(100, 59, 15), rgba(109, 73, 20, 0.9)) ;
  background-attachment: fixed;
  height: 100%;
}

#header {
  background-color: #E4B04A;
  padding: 1em;
  margin: -8px 0 0 0;
  height: 4em;
  text-align: center;
}

h1 {
  display: block;
  margin: 0 auto;
  color: rgb(42, 44, 5);
  margin-top: 0.3em;
} 

#clearStorageBtn {
  height: 3em;
  width: 7em;
  border: 2px solid #2a2c05;
  color: #2a2c05;
  font-size: 13px;
  float: left;
  margin-top: 0.7em;
}


#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.newBookForm {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .form-content {
    background-color: #E4B04A;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 11.3em; 
    border: 1px black solid;
  }

  #add {
    display: block;
    color: #2a2c05;
    background-color: #EFE0B9;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #2a2c05;
  }

  #close {
    display: block;
    float: right;
    margin: -15px -15px 0px 0px;  
    color: rgba(196, 21, 45, 0.822);
    background-color: #EFE0B9;
    border: none;
    outline: none;
  }

  #close:focus,
  #close:hover,
  #add:focus,
  #add:hover {
    background-color: rgba(42, 44, 5, 0.2);
  }

  #addBook {
    background-color: #EFE0B9;
    height: 65px;
    width: 65px;
    font-size: 50px;
    text-align: center;
    border: 2px solid #2A2c05;
  }
  
  .library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .library div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 13em;
    height: 18em;
    margin: 1em;
    margin-right: 2em;
    padding: 3px;
    background-color: #B7521E;
    border: 2px #2a2c05 solid;
    box-shadow: 3px 3px 6px 7px rgba(41, 39, 39, 0.205);

  }
  
  .library div p {
    width: 12em;
    height: 14em;
    margin-bottom: -1em;
  }

  #newBookButton {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  
  .readButton,
  .deleteButton {
    height: 3em;
    width: 7em;
    border: 2px solid #2a2c05;
    color: #2a2c05;
    font-size: 13px;
  }
  